#startButton {
	text-align: center;
	color: black;
	background-color: orange;
	border-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.1);
	width: 30%;
	height: 15%;
	font-weight: bold;
	font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.05);
}

#gameMain img{
	width: 30%;
	margin-bottom:  calc(min(95vw, calc(94vh * 10 / 7)) * 0.05);
}

#gameMain{
	justify-content: center;
}