#headSentence {
    color: white;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 40);
}

#difficulties {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#oniButton {
    color: rgb(20, 20, 50);
    width: 25%;
    text-align: center;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.025);
    border-top-left-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    border-top-right-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    background-color: rgb(20, 20, 50);
    border: rgb(20, 20, 50);
    visibility: hidden;
}

#oniButton:active {
    border: inset;
}

.notOni {
    color: white;
    width: 25%;
    text-align: center;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.025);
    border-top-left-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    border-top-right-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    background-color: midnightblue;
    border-color: rgb(20, 20, 50);
    visibility: hidden;
}

#top10 {
    width: 80%;
    height: 70%;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 36);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom-left-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    border-bottom-right-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
}

#ranks {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

#titleButton {
    border-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.1);
    width: 20%;
    height: 10%;
    font-weight: bold;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    visibility: hidden;
    margin-top: 1.5%;
}

button {
    text-align: center;
    color: black;
    background-color: orange;
}