#headSentence {
    color: white;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 40);
}

#difficulties {
    display: flex;
    flex-direction: row;
}

#difficulties button {
    text-align: center;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.025);
    border-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.1);
}

#top10 {
    width: 80%;
    height: 70%;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 30);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    visibility: hidden;
}

#ranks {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

#titleButton {
    border-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.1);
    width: 20%;
    height: 10%;
    font-weight: bold;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    visibility: hidden;
}

button {
    text-align: center;
    color: black;
    background-color: orange;
}