#top10 {
    width: 80%;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 30);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

#ranks {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

#titleButton {
    text-align: center;
    color: black;
    background-color: orange;
    border-radius: calc(min(95vw, calc(94vh * 10 / 7)) * 0.1);
    width: 20%;
    height: 10%;
    font-weight: bold;
    font-size: calc(min(95vw, calc(94vh * 10 / 7)) * 0.02);
    visibility: hidden;
}