/* ゲーム用 */
#entered {
  color: red;
}

#alphabet {
  font-size: 20px;
}

/* ソロのみ */
#enterToBegin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
}
