/* ゲーム用 */
#entered {
  color: red;
}

#notEntered {
  color: white;
}

#alphabet {
  font-size: 20px;
}

#gameHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 4vw;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* ソロのみ */
#enterToBegin {
  color: white;
  font-size: 3vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gamePanel {
  background-color: rgb(0, 0, 0);
  width: 80%;
  height: calc(80vw * 2 / 3);

  max-width: 1200px;
  max-height: 800px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  color: white;
  font-size: 2.4vw;
}

/* meter */
#meter {
  width: 25vw;
}

meter::-webkit-meter-bar {
  background: #202020;
}

meter::-webkit-meter-optimum-value {
  background: rgb(60, 60, 150);
}

meter::-webkit-meter-suboptimum-value {
  background: rgb(60, 60, 150);
}

meter::-webkit-meter-even-less-good-value {
  background: rgb(60, 60, 150);
}