#game {
  font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 20);
}

#buttonResult {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
}

button {
  background-color: orange;
  color: black;
  border-radius: calc(min(95vw, calc(94vh * 10 / 7)) / 20);

  width: 20%;
  height: 60%;
  margin: calc(min(95vw, calc(94vh * 10 / 7)) / 20);
  font-size: calc(min(95vw, calc(94vh * 10 / 7)) / 35);
}
