* {
  box-sizing: border-box;
  margin: 0px;
  color: white;

  /* テキストを選択できないように  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252525;
}

header {
  height: 6vh;
  background-color: black;
  font-size: 4vh;
  padding: 0.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  height: 5vh;
  margin: 0.5vh 1.5vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  aspect-ratio: 10/7;
  width: min(95vw, calc(94vh * 10 / 7));

  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
  padding: calc(min(95vw, calc(94vh * 10 / 7)) /70) 0px;
}

#gameHeader {
  width: 100%;
  height: 10%;
}

#gameMain {
  width: 100%;
  height: 80%;

  background-color: rgb(20, 20, 50);
  border-radius: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameFooter {
  width: 100%;
  height: 10%;
}

/*


#homePanel {
  background-color: rgb(20, 20, 50);
  width: 80%;
  height: calc(80vw * 2 / 3);

  max-width: 1200px;
  max-height: 800px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#defaultCanvas0 {
  background-color: rgb(20, 20, 50);
  width: 80%;
  height: calc(80vw * 2 / 3);

  max-width: 1200px;
  max-height: 800px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  width: 30%;
  margin-bottom: 30px;
}

#meter {
  display: none;
}

#scorePanel {
  display: none;
} */
